# azure-pipelines.yml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8'
  displayName: 'Use Python 3.8'

- script: |
    pip install azure-ai-ml azure-identity
  displayName: 'Install Azure ML SDK'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'Microsoft Azure Sponsorship'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az ml job create --file ml/job.yml --resource-group "imagegen-ml-rg" --workspace-name "imagegen-ml-workspace"
  displayName: 'Run Azure ML Training Job'
