node_modules/
.next
.env
.DS_Store
package-lock.json
# Logs
logs
npm-debug.log*
# Build output
dist
# Dependency directories
bower_components/
# Optional npm cache directory
.npm
# Optional REPL history
.repl
# Coverage directory used by tools like istanbul
coverage/
# nyc test coverage
.nyc_output/